default_language_version:
    python: python3.14
repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
    -   id: pyupgrade
        exclude: testsuite/six-dir
        args: ['--py310-plus']



  - repo: https://github.com/psf/black
    rev: 25.11.0
    hooks:
      - id: black
        # override until resolved: https://github.com/ambv/black/issues/402
        files: \.pyi?$
        types: []
        exclude: ^testsuite/.*/

  - repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        exclude: ^testsuite/.*/
        additional_dependencies:
        - flake8-bugbear
        - flake8-deprecated
        - flake8-comprehensions
        - flake8-isort
        - flake8-quotes
        - flake8-mutable
        - flake8-todo
        - flake8-raise

  - repo: https://github.com/PyCQA/isort
    rev: 7.0.0
    hooks:
      - id: isort
        exclude: ^testsuite/.*/
        additional_dependencies: [toml]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
    - id: mypy
      additional_dependencies:
        - types-six
      exclude: ^testsuite/.*/

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^testsuite/.*/
      - id: end-of-file-fixer
        exclude: ^testsuite/.*/
      - id: debug-statements
        exclude: ^testsuite/.*/
