name: Linting with isort, black, flake8 and mypy

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.14"]
        toxenv: [isort, black, flake8, mypy]

    steps:
      - uses: actions/checkout@v1

      - name: pip cache
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ matrix.toxenv }}-pip-${{ hashFiles('**/pyproject.toml') }}
          restore-keys: |
            ${{ matrix.toxenv }}-pip-

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade tox

      - name: Lint
        run: tox -e ${{ matrix.toxenv }}
